[submodule "glm"]
	path = src/external/glm
	url = git@github.com:g-truc/glm.git
[submodule "glhelper"]
	path = src/external/glhelper
	url = git@github.com:Robert42/glhelper.git
[submodule "cmake"]
	path = src/external/cmake
	url = git@github.com:Robert42/cmake-finders.git
