[submodule "glm"]
	path = src/external/glm
	url = git@github.com:g-truc/glm.git
[submodule "tinyply"]
	path = src/external/tinyply
	url = git@github.com:ddiakopoulos/tinyply.git
[submodule "glhelper"]
	path = src/external/glhelper
	url = git@github.com:Robert42/glhelper.git
