[submodule "glm"]
	path = src/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "glhelper"]
	path = src/external/glhelper
	url = https://github.com/Robert42/glhelper.git
[submodule "boost_sort"]
	path = src/external/boost_sort
	url = https://github.com/boostorg/sort.git
[submodule "src/external/nodeeditor"]
	path = src/external/nodeeditor
	url = https://github.com/paceholder/nodeeditor.git
